@import "tailwindcss";
@import "tw-animate-css";
@tailwind utilities;

/* Tambahkan ini */
body {
  @apply bg-gray-950 text-white;
}

/* Input */
input, textarea, select {
  @apply bg-neutral-900 text-white border border-neutral-700 rounded-lg;
}
